/*a {
  color: whitesmoke;
}*/

/*Hero Blog*/

h3,
h4,
h5 {
  background-color: #4694c9;
  border-radius: 10px;
  color: whitesmoke;
}

.hero-post {
  position: relative;
}

.hero-post-badges {
  position: absolute;
  top: 10px;
  right: 10px;
}

img {
  filter: blur(0.5px);
  filter: grayscale(30%);
  border-radius: 20px;
}

.hero-post-badges > a {
  display: block;
  border-radius: 10px;
  background-color: #4694c9;
  color: whitesmoke;
  font-size: 0.6rem;
}

.hero-post-content {
  position: absolute;
  bottom: 20px;
  color: whitesmoke;
}

.hero-post-content img {
  border: 2px solid #4694c9;
}

/*Main Blog*/

.blog-post p {
  font-size: 0.8rem;
  padding-top: 0.4rem;
}

.blog-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.blog-post .col-sm-8 {
  border-left: 1px solid #4694c9;
}

.badges {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.badges > a {
  margin-left: 0.5rem;
  padding: 0.2rem;
  font-size: 0.7rem;
  background-color: #4694c9;
  color: whitesmoke;
}

.small > p {
  font-size: 0.6rem;
}

.small > h5 {
  font-size: 0.7rem;
}

.small2 > h5 {
  font-size: 0.9rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

.recommended-reading img {
  border-radius: 0px;
}
